@model Actos.SitioWeb.MVC.ServicioWeb.Victima

<span id="hdnId" class="hidden">@Html.DisplayFor(model => model.Id)</span>

<div class="text-center">
    <h4>¿Estas seguro que deseas eliminar a la víctima<br />
    <span class="text-info">@Model.Nombre @Model.Apellido @Model.Apodo</span>?</h4>

    <div class="form-actions no-color">
        <input type="button" value="Eliminar" id="btnEliminarPV" class="btn btn-danger" />
    </div>
</div>


<div id="modalEliminar"></div>

<script src="~/Scripts/appjs/victimas-eliminarpv.js"></script>
