@model IEnumerable<Actos.SitioWeb.MVC.ServicioWeb.Agresor>

<div class="text-center">
    <h4>Buscar agresor <span class="text-info">[CTRL + F]</span> </h4>
</div>

<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="IdClass hidden">
                    <span>@Html.DisplayFor(modelItem => item.Id)</span>
                </td>
                <td class="nombreClass">
                    <span>
                        @Html.DisplayFor(modelItem => item.Nombre)
                        @Html.DisplayFor(modelItem => item.Apellido)
                        @Html.DisplayFor(modelItem => item.Apodo)
                    </span>
                </td>
                <td>
                    <input type="button" class="classElegirAgresor btn btn-warning" value="Elegir" />
                </td>
            </tr>
        }
    </tbody>
</table>
